body{
    display: flex;
    flex-direction: column;
    margin: 0;

}

/* Styling for First Section (Header) */

#Logo, a, .Awesome, .Under-Title{
    color: white;
}
.Awesome{
    font-size: 48px;
    font-weight: 1000;
}
.Header{
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 75px;
}
a{
    text-decoration: none;
}
.container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
#Logo{
    margin-left: 100px;
}
.top-links{
    display: flex;
    gap: 16px;
    margin-right: 100px;

}
.container-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;

}
.container-3{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.container-2 img{
    align-self: center;
    padding-top: 5%

}
.Awesome{
    margin-bottom: -10px;
}
button{
    color: white;
    background-color: #3882F6;
    height: 20px;
    width: 80px;
}

/* Styling for Second Section (Middle-1) */

.Middle-1{
    display: flex;
    flex-flow: column;
    padding: 50px;
}
.random{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}
.items{
    display: flex;
    justify-content: space-evenly;

}
.item-1, .item-2, .item-3, .item-4{
    display: flex;
    width: 200px; 
    flex-wrap: wrap;
}
.subtext{
    margin-top: 8px;
}

/* Styling for Third Section (Middle-2) */

.Middle-2{
    display: flex;
    background-color: #E5E7EB;    
}
.box{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    margin-bottom: -20px;
}
.who{
    align-self: flex-end;
    color: #1F2937;
    font-weight: 800;
}

/* Styling for Fourth Section (Footer) */

.Middle-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    padding: 20px 50px;
    margin: 50px;
    width: 50%;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.left{
    display: flex;
    flex-direction: column;
}
.action{
    font-weight: 700;
    margin-bottom: -16px;
}
.container button{
    border-color: white;
}
.Footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: white;
}